@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This site is for archiving reviews of music featured at <a href="http://www.ocremix.org">OverClocked Remix</a>, 
    a website dedicated to archiving great remixes of video game music.</p>
