@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Remix Reviews</h1>
    <p class="lead">Remix Reviews</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Help give remixers constructive critisism! <sub>(or just talk about your favorite tracks)</sub>
        </p>
        <aside><img src="~/Content/sheet_smb_over1.jpg" alt="Super Mario Bros. Overworld Theme Sheet Music" width="601" height="98" /></aside>
    </div>
</div>